body
{
	position: absolute;
	min-width: 60em;
	min-height: 30em;
	width: 100%;
	height: 100%;
}

.box
{
	margin: 0px;
}

#messagebox {
	position: absolute;
	left: 0em;
	top: 0em;
	right: 0em;
	bottom: 18em;
	margin-bottom: 0em;
	overflow-y: scroll;
}

#inputbox {
	position: absolute;
	left: 0em;
	height: 15em;
	right: 39em;
	bottom: 0em;
	margin-right: 0em;
}

#settingbox {
	position: absolute;
	width: 36em;
	height: 7em;
	right: 0%;
	bottom: 8em;
}

#logbox {
	position: absolute;
	width: 36em;
	height: 5em;
	right: 0em;
	bottom: 0em;
}




table#posts
{
	border-collapse: collapse;
}

tr.post > td
{
	word-wrap: break-word;
	vertical-align: top;
}

tr.post .name
{
	min-width: 6em;
	max-width: 15em;
	font-weight: bold;
}

tr.post .message
{
	white-space: pre-wrap;
}

tr.post .info, tr.post .ip
{
	border-bottom: thin dotted #bbb;
	border-right: thin dotted #bbb;
	text-align: center;
	color: lightgray;
	padding: 0px 3px;
	white-space: nowrap;
}

#messagebox {
	padding: 0px;
}



#message
{

	vertical-align: middle;
	display: inline-block;
	width: 90%;
	height: 8em;
	resize: none;
	overflow-x: hidden;
}

#name
{
	display: inline-block;
	width: 90%;
}



#logbox, #settingbox {display: block}

#showsettingsbutton, #showlogsbutton, #closesettingsbutton, #closelogsbutton
{
	display: none;
}

#inputbox label {
	width: 3em;
	margin-right: 1em;
	display: inline-block;
}

#send {
	display: block;
	margin: auto;
}

#inputbox p {
	margin-top: 0em;
}
