body, input, textarea, select
{
	font-family: sans-serif;
	font-size: 10pt;
	color: #ccc;
	background-color: #000;
}

input, textarea, select
{
	border: 1px #666 solid;
}

input[type="button"]:hover, input[type="submit"]:hover{
	border-color: #444;
	background-color: #ccc;
	color: #444;
	cursor: pointer;
}


a:link, .layoutlink:visited
{
	color: white;
}

a:visited
{
	color: #484;
}

.box
{
	background-color: #111;
	border: 2px #666 solid;
	padding: 0.5em;
}


#inputbox
{
	position: absolute;
	left: 0em;
	right: 0em;
	bottom: 0em;
	height: 6em;
	min-width: 23em;
}


#messagebox
{
	overflow-y: scroll;
	position: absolute;
	left: 0em;
	right: 0em;
	bottom: 6em;
	top: 0em;
	min-width: 18em;
}


ul#posts
{
	list-style-type: none;
	margin: 0em;
	padding: 0em;
}

li.post
{
	color: #C70;
}

li.post .name
{
	font-weight: bold;
	overflow: hidden;
}

li.post .info
{
	float: right;
	position: relative;
	top: 0.5em;
	color: gray;
	font-size: xx-small;
}

li.post .ip, li.post .date, li.post .delay
{
	display: block;
}


li.post .message
{
	word-wrap: break-word;
	display: block;
	margin-left: 1em;
	margin-bottom: 0.3em;
}


#message
{
	width: 98%;
	overflow-x: hidden;
	resize: none;
}

#name
{
	width: 20%;
	min-width: 5em;
}


.popup
{
	z-index: 1;
	position: fixed;

/*
	margin: 1em;
	left: 0em;
	right: 0em;
	bottom: 0em;
*/

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: none;
}

.activelog, .inactivelog
{
	text-decoration: underline;
	cursor: pointer;
}

.activelog
{
	color: orange;
}
