body, input, textarea, frame
{
	background-color: #444;
	color: #cccccc;
	font-family: sans-serif;
	font-size: 9pt;
}

.box, .box input, .box textarea
{
	border: 1px #222 solid;
	background-color: #555;
}


td.info, td.ip
{
	border-top: thin dotted #dddddd;
	border-bottom: thin dotted #dddddd;
	border-right: thin dotted #888888;
	border-width: 1px;
	padding-left: 4px;
	white-space: nowrap;
	vertical-align: top;
}

td.info
{
	text-align: right;
}

td.ip
{
	text-align: center;
}

td.name
{
	font-weight: bold;
	vertical-align: top;
	max-width: 15em;
	overflow: hidden;
}

#messagebox table
{
	border-collapse: collapse;
}

td.text
{
	vertical-align: top;
}

a:link
{
	color: #FFFFFF;
}

a:visited
{
	color: #000000;
}










.box
{
	padding: 1em;
	margin: 0.5em;
}

.settings
{
	line-height: 150%;
}

body
{
	margin: 5px;
}


#messagebox {
	position: fixed;
	left: 0%;
	top: 0%;
	right: 0%;
	bottom: 17.5em;
	margin-bottom: 0em;
	overflow-y: scroll;
}

#inputbox {
	position: fixed;
	left: 0%;
	height: 14.5em;
	right: 48em;
	bottom: 0%;
	margin-right: 0em;
}


#inputbox table {
	width: 100%;
}


#settingbox {
	position: fixed;
	width: 45em;
	height: 6em;
	right: 0%;
	bottom: 8.5em;
}

#logbox {
	position: fixed;
	width: 45em;
	height: 6em;
	right: 0%;
	bottom: 0%;
}
