@media handheld {

body, input, textarea, td, frame
{
	background-color: #555555;
	color: #cccccc;
/*	font-family: Verdana,Arial;
	font-size: 9pt; */
}

td.info, td.ip
{
	border-top: thin dotted #dddddd;
	border-bottom: thin dotted #dddddd;
	border-right: thin dotted #888888;
/*	border-width: 1px;
	padding-left: 4px;
	white-space: nowrap; */
	vertical-align: top;
}

td.info
{
	text-align: right;
	background-color: #cccccc;
	color: #555555;
	font-size: xx-small
}

td.ip
{
	text-align: center;
}

td.name
{
	font-weight: bold;
	vertical-align: top;
	max-width: 15em;
	overflow: hidden;
}

table
{
	border-collapse: collapse;
	width: 95%;
}

td.text
{
	vertical-align: top;
}

a:link
{
	color: #FFFFFF;
}

a:visited
{
	color: #000000;
}

}