@media all {

body, input, textarea, td, frame
{
	background-color: #000000;
	color: #cccccc;
/*	font-family: Verdana,Arial;
	font-size: 9pt; */
}

li.info, li.ip
{
	border-top: thin dotted #dddddd;
	border-bottom: thin dotted #dddddd;
	border-right: thin dotted #888888;
/*	border-width: 1px;
	padding-left: 4px;
	white-space: nowrap; */
	vertical-align: top;
}

li.info
{
	text-align: right;
	background-color: #cccccc;
	color: #555555;
	font-size: xx-small
}

li.ip
{
	text-align: center;
}

li.name
{
	font-weight: bold;
	vertical-align: top;
	overflow: hidden;
}

li.text
{
	vertical-align: top;
}

a:link
{
	color: #FFFFFF;
}

a:visited
{
	color: #000000;
}

}
