body, input, textarea, frame
{
	font-family: Verdana,Arial,sans-serif;
	font-size: 9pt;
}

body
{
	overflow: hidden;
}

#messagebox, #inputbox, #settingbox, #logbox
{
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	padding: 5px;
	overflow: auto;
}

#settingbox, #logbox
{
	line-height: 200%;
}

td.info, td.ip
{
	border-top: thin dotted #dddddd;
	border-bottom: thin dotted #dddddd;
	border-right: thin dotted #888888;
	border-width: 1px;
	padding-left: 4px;
	white-space: nowrap;
	vertical-align: top;
}

td.info
{
	text-align: right;
}

td.ip
{
	text-align: center;
}

td.name
{
	font-weight: bold;
	vertical-align: top;
	max-width: 15em;
	overflow: hidden;
}

table
{
	border-collapse: collapse;
}

td.text
{
	vertical-align: top;
}

a:link, a[onclick]
{
	text-decoration: underline;
	cursor: pointer;
	color: white;
}

a:visited
{
	color: black;
}

a:hover
{
	color: orange;
}
