body
{
	font-size: 9pt;
	min-width: 23em;
}

#inputbox
{
	position: absolute;
	left: 0em;
	right: 0em;
	bottom: 0em;
	height: 6em;
	border-width: 0px;
	padding: 0px;
}

#messagebox
{
	position: absolute;
	left: 0em;
	right: 0em;
	bottom: 6em;
	top: 0em;
	border-width: 0px;
	padding: 0px;
	overflow-y: scroll;
}


#settingbox, #logbox
{
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
}


#message
{
	width: 98%;
	resize: none;
	overflow-x: hidden;
}

#name
{
	width: 20%;
	min-width: 5em;
}













ul#posts
{
	list-style-type: none;
	margin: 0em;
	padding: 0em;
}

li.post
{
	clear: right;
	color: #C70;
}

li.post .name
{
	font-weight: bold;
	overflow: hidden;
}

li.post .info
{
	float: right;
	position: relative;
	top: 0.5em;
	color: gray;
	font-size: xx-small;
}

li.post .ip, li.post .date, li.post .delay
{
	display: block;
}


li.post .message
{
	word-wrap: break-word;
	white-space: pre-wrap;
	display: block;
	margin-left: 1em;
	margin-bottom: 0.3em;
}
