body.screen
{
	position: absolute;
	min-width: 60em;
	min-height: 30em;
	width: 100%;
	height: 100%;
}

.screen #messagebox {
	position: absolute;
	left: 0em;
	top: 0em;
	right: 0em;
	bottom: 18.5em;
	margin-bottom: 0em;
	overflow-y: scroll;
}

.screen #inputbox {
	position: absolute;
	left: 0em;
	height: 15em;
	right: 38.5em;
	bottom: 0em;
	margin-right: 0em;
}

.screen #settingbox {
	position: absolute;
	width: 35em;
	height: 7em;
	right: 0%;
	bottom: 8em;
}

.screen #logbox {
	position: absolute;
	width: 35em;
	height: 5em;
	right: 0em;
	bottom: 0em;
}



body.frames
{
	overflow: hidden;
}

.frames .box
{
	border-width: 0px;
	padding: 1em;
	margin: 0em;
}

.frames #messagebox, .frames #inputbox, .frames #settingbox, .frames #logbox
{
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	overflow: auto;
}

.frames #settingbox, .frames #logbox
{
	line-height: 200%;
}




table#posts
{
	border-collapse: collapse;
}

tr.post > td
{
	word-wrap: break-word;
	vertical-align: top;
}

tr.post .name
{
	max-width: 15em;
	font-weight: bold;
}

tr.post .message
{
	white-space: pre-wrap;
}

tr.post .info, tr.post .ip
{
	border-bottom: thin dotted #bbb;
	border-right: thin dotted #bbb;
	text-align: center;
	color: lightgray;
	padding: 0px 3px;
	white-space: nowrap;
}

#messagebox {
	padding: 0px;
}

#inputbox table {
	width: 100%;
}

#message
{
	margin: 0.5em 0em;
	width: 98%;
	resize: none;
	overflow-x: hidden;
}

#name
{
	width: 98%;
}
