body, input, textarea, select
{
	font-family: Verdana, Arial, sans-serif;
	font-size: 9pt;
	background-color: gray;
}

body
{
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0px;
	min-width: 60em;
	min-height: 30em;
}

input, textarea, select
{
	border: 1px black solid;
}

.box
{
	border: 2px black solid;
	padding: 1em;
	margin: 0.5em;
}

table#posts
{
	border-collapse: collapse;
}

td.info, td.ip
{
	border-top: thin dotted #ddd;
	border-bottom: thin dotted #ddd;
	border-right: thin dotted #888;
	border-width: 1px;
	padding-left: 4px;
	white-space: nowrap;
	vertical-align: top;
}

td.info
{
	text-align: right;
}

td.ip
{
	text-align: center;
}

td.name
{
	font-weight: bold;
	vertical-align: top;
	max-width: 15em;
	overflow: hidden;
}

td.text
{
	vertical-align: top;
}

#messagebox {
	position: absolute;
	left: 0em;
	top: 0em;
	right: 0em;
	bottom: 18.5em;
	margin-bottom: 0em;
	overflow-y: scroll;
}

#inputbox {
	position: absolute;
	left: 0em;
	height: 15em;
	right: 38.5em;
	bottom: 0em;
	margin-right: 0em;
}

#inputbox table {
	width: 100%;
}


#settingbox {
	position: absolute;
	width: 35em;
	height: 6em;
	right: 0%;
	bottom: 9em;
	line-height: 150%;
}

#logbox {
	position: absolute;
	width: 35em;
	height: 6em;
	right: 0em;
	bottom: 0em;
	line-height: 150%;
}


#message
{
	margin: 0.5em 0em;
	width: 98%;
	overflow-x: hidden;
	resize: none;
}

#name
{
	width: 98%;
}

a:link, a[onclick]
{
	text-decoration: underline;
	cursor: pointer;
	color: white;
}

a:visited
{
	color: black;
}

a:hover
{
	color: orange;
}
