body, input, textarea, frame
{
	background-color: #555555;
	color: #cccccc;
	font-family: sans-serif;
	font-size: 9pt;
}

.box, .box input, .box textarea
{
	border: 1px #222 solid;
	background-color: #666;
}


td.info, td.ip
{
	border-top: thin dotted #dddddd;
	border-bottom: thin dotted #dddddd;
	border-right: thin dotted #888888;
	border-width: 1px;
	padding-left: 4px;
	white-space: nowrap;
	vertical-align: top;
}

td.info
{
	text-align: right;
}

td.ip
{
	text-align: center;
}

td.name
{
	font-weight: bold;
	vertical-align: top;
	max-width: 15em;
	overflow: hidden;
}

#messagearea table
{
	border-collapse: collapse;
}

td.text
{
	vertical-align: top;
}

a:link
{
	color: #FFFFFF;
}

a:visited
{
	color: #000000;
}
