body, input, textarea
{
	font-family: sans-serif;
	font-size: 10pt;
	color: #ccc;
	background-color: #000;
}

input, textarea
{
	border: 1px #666 solid;
}

input[type="button"]:hover, input[type="submit"]:hover{
	border-color: #444;
	background-color: #ccc;
	color: #444;
	cursor: pointer;
}


a:link
{
	color: white;
}

a:visited
{
	color: #484;
}

.box
{
	background-color: #111;
	border: 2px #666 solid;
	padding: 0.5em;
	margin: 0.5em;
}


#inputbox
{
	text-align: center;
	position: absolute;
	left: 0em;
	right: 0em;
	bottom: 0em;
	height: 9em;
	min-width: 10em;
}


#messagebox
{
	overflow-y: scroll;
	position: absolute;
	left: 0em;
	right: 0em;
	bottom: 11em;
	top: 0em;
	min-width: 10em;
}


ul#display
{
	list-style-type: none;
	margin: 0em;
	padding: 0em;
}

li.post
{
	color: #C70;
}

li.post .name
{
	font-weight: bold;
	overflow: hidden;
}

li.post .info
{
	float: right;
	position: relative;
	top: 0.5em;
	color: gray;
	font-size: xx-small;
}

li.post .ip, li.post .date, li.post .delay
{
	display: block;
}


li.post .message
{
	display: block;
	margin-left: 1em;
	margin-bottom: 0.3em;
}


#message
{
	margin: 0.5em 0em;
	width: 98%;
}

#name
{
	width: 98%;
}


.popup
{
	z-index: 1;
	position: absolute;
	right: 10px;
	bottom: 10px;
	display: none;
}
