body
{
	margin: 1em;
}

body, input, textarea
{
	font-family: sans-serif;
	font-size: 10pt;
	color: #ccc;
	background-color: #000;
}

input, textarea
{
	border: 1px #444 solid;
}

.box
{
	background-color: #111;
	border: 1px #444 solid;
	padding: 1em;
	margin: 1em auto;
	overflow: hidden;
}



ul#display
{
	list-style-type: none;
}

li.post
{
	color: #C70;
}

li.post .name
{
	font-weight: bold;
	overflow: hidden;
}

li.post .info
{
	position: relative;
	float: right;
	top: 0.5em;
	color: gray;
	font-size: xx-small;
}

li.post .message
{
	display: block;
	margin-left: 1em;
	margin-bottom: 0.3em;
}


#messagebox
{
	min-width: 15em;
	overflow-y: auto;
}

#inputbox
{
	margin: auto;
	min-width: 15em;
	max-width: 50em;
	text-align: center;
}

#message
{
	margin: 0.5em 0em;
	width: 100%;
}

#name
{
	width: 100%;
}

#send
{
	cursor: pointer;
}

a:link {
	color: #FFFFFF;
}

a:visited {
	color: #000000;
}
