body, input, textarea, frame
{
	font-family: Verdana,Arial;
	font-size: 9pt;
}

body
{
	overflow: hidden;
}

#messagebox, #inputbox, #settingbox, #logbox
{
	position: fixed;
	height: 100%;
	left: -5px;
	right: -5px;
	top: -5px;
	bottom: -5px;
	overflow: auto;
}

td.info, td.ip
{
	border-top: thin dotted #dddddd;
	border-bottom: thin dotted #dddddd;
	border-right: thin dotted #888888;
	border-width: 1px;
	padding-left: 4px;
	white-space: nowrap;
	vertical-align: top;
}

td.info
{
	text-align: right;
}

td.ip
{
	text-align: center;
}

td.name
{
	font-weight: bold;
	vertical-align: top;
	max-width: 15em;
	overflow: hidden;
}

table
{
	border-collapse: collapse;
}

td.text
{
	vertical-align: top;
}

a:link
{
	color: #FFFFFF;
}

a:visited
{
	color: #000000;
}
